{% extends "bootstrap/base.html"  %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Log in
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/style.css">
<script src="https://kit.fontawesome.com/8018589ca3.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="box">
    
    <h1 class="box-header">Log in</h1>
    
    <form method="POST" action="/login" >
        
        {{ form.hidden_tag() }}
        <div class="inputbox">
        {{ wtf.form_field(form.username) }}
        </div>
        <div class="inputbox">
        {{ wtf.form_field(form.password) }}
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}