<div>
    <div>
        <h3><b style="color: #104777;">User Profile</b></h3>
    </div>
    <table class="tablews"> 
        <tr>
            <td>User id</td>
            <td>{{ user_id }}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{ age }} </td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>{{ weight }} kg</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>{{ height }} cm</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ gender }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ email }}</td>
        </tr>
    </table>
</div>