html,
body,
header,
#intro{
    font-family: 'Poppins',sans-serif;
    background: url(../static/oura3.jpg) no-repeat center center fixed;
    display: table;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}