html,
body,
header,

#intro{
    font-family: 'Poppins',sans-serif;
    background: #1f2630;
    display: table;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}
.graph-container {
    display: flex;
    padding: 1rem;
    margin: 10px;
}
.leftcol {
    float:left;
    width: 20vw;
}
.mini_container {
    flex: 1;
    border-radius: 5px;
    background-color: #252e3f;
    margin: 10px;
    padding: 15px;
    position: relative;
    color: #fff;
}
.mini_container_g {
    flex: 1;
    border-radius: 5px;
    background-color: #252e3f;
    float: left;
    margin: 10px;
    padding: 15px;
    position: relative;
    color: #fff;
}
.hr_g {
    background-color: #252e3f;
    float: right;
    padding: 1rem;
    margin: 10px;
}
.hyp_g {
    background-color: #252e3f;
    float: left;
    padding: 1rem;
    margin: 10px;
}
.rmssd_g {
    background-color: #252e3f;
    float: right;
    padding: 1rem;
    margin: 10px;
}
.met_g {
    background-color: #252e3f;
    float: right;
    padding: 1rem;
    margin: 10px;
}
.pie_sleep{
    background-color: #252e3f;
    float: left;
    width: 35vw;
    height: 20vw;
    padding: 1rem;
    margin: 10px;
}
.drop-container {
    background-color: #252e3f;
    width:27vw;
    padding: 15px;
    margin: 10px;
}
.Select-control {
    background-color: #252e3f;
    border-radius: 4px;
    border: 1px solid #ccc;
    /*color: #ff6;*/
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;
}
.is-open>.Select-control{
    background: #252e3f;
}
.Select-menu-outer {
    color:#fff;
    background-color: #252e3f;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
    color:#fff;
}
.DateInput_input__focused{
    background: #252e3f;
}
.DateInput_input{
    color: #fff;
    background-color: #252e3f;
}
.DateInput {
    color:#fff;
}
/*
.DateInput_input__focused{
    background: #1f2630;
}
*/