body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../static/bgnd_user7.jpg) no-repeat center center fixed;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    padding: 40px;
    background: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}
.box .box-img{
    width:120px;
    height:120px; 
    background-color:white ; 
    -webkit-clip-path : circle(38% at 50% 50%); 
    position: absolute;
    top: -65px;
    left: 35%;
}
.box .box-header{
    color: #fff;
    text-align: center;
    margin-bottom: 8%;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Courgette';
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width:100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}