body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../static/bgnd_user7.jpg) no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 700px;
    padding: 40px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);

}